

body {
	background-color: #353C51;
	margin: 0;
	padding:0;
}

.searchbar {
	min-width: 264px;
	height: 32px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;	
	border: none;
    padding-left: 16px;
	float: left;
	flex-grow: 1;

    font-family: "Arial";
	font-size: 20px;
}

.searchbar:focus {
	outline: none;
	/*border: 2px solid red;*/
}

.searchButton {
	height: 34px;
	border: none;
    float: left;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #ff78bb;
    color: white;
    width: 40px;
    font-size: 20px;
}

.searchButton:focus {
	outline: none !important;
}

.searchButton:hover {
	background-color: #e55ea2;
	cursor: pointer;
}


.search {
	min-width: 320px;
	max-width: 720px;
	height: 34px;
	margin-top: 7px;
	float: left;
	display: flex;
	flex-grow: 1;
}

.search:hover {
	margin-top: 5px;
	border: 2px solid #ee0076;
	border-radius: 17px;
	background-color: #ee0076;
}

.mainHeader {
	background-color: rgba(0,0,0,0.25);
	color: white;
	font-family: "Arial";
	height: 228px;
	min-width: 720px;
}

.inside {
	width: 720px;
	margin: auto;
	height: 180px;
}


.logoCenter{
	width: 180px;
	height: 180px;
	float: left;
	background: url(./logo.png) scroll no-repeat;
	background-size: 180px;
}

.logoLeft {
	width: 270px;
	height: 180px;
	float: left
}

.logoLeft h1 {
	float: 	right;
	padding-right: 40px;
}

.logoRight {
	width: 270px;
	height: 180px;
	float: left;
}

.logoRight	h1 {
	float: left;	
	padding-left: 40px;
}

.logoRight	h1, .logoLeft h1 {
	margin-top: 0;
	font-size: 48px;
	padding-top: 64px;
}

.sdiv {
	background-color: rgba(0,0,0,0.55);
	width: 100%;
	height: 48px;
	display: flex;
}

.buttons2, .buttons{
	height: 48px;
	min-width: 150px;
	float: left;
	flex-grow: 0.5;
	font-size: 32px;
}

#user, #cart {
	padding-top: 7px;
	padding-right: 16px;
	padding-left: 16px;
	float: right;
}

#menu {
	padding-top: 7px;
	float: left;
	padding-left: 16px;
}

#user:hover, #cart:hover, #menu:hover {
	color: #ee0076;
	cursor: pointer;
}